@import '../../../../css/variables';

.taskbar
{
  display: grid;
  grid-template-columns: minmax(0px, 100%) auto;
  align-items: end;
  gap: 8px;

  position: relative;
  width: 1400px;
  max-width: 100%;

  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid $hl-blue-light;

  font-weight: 500;

  .taskbar__header
  { 
    display: flex; 

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .header__color
    {
      margin-right: 8px;
      cursor: pointer;
    }

    .chrome-picker__bg
    {
      position: absolute;
      width: 100dvw;
      height: 86dvh;
        
      z-index: 1;
    }

    .chrome-picker
    {  
      position: absolute;
      top: 64px;
      left: 0;

      z-index: 1;
    }

    input
    {
      color: inherit;
      background-color: inherit;
    
      font-size: inherit;
      font-weight: inherit;
    }
  }
  
  .taskbar__delete
  {
    padding: 8px 12px;
    border: 2px solid $hl-red-light;
    border-radius: $border-rad-small;

    color: #fff;

    cursor: pointer;
    user-select: none;

    &:hover
    {
      color: $bg-blue-light;
      background-color: $hl-red-light;
    }

    .fa-trash-can
    {
      font-size: 1.2rem; 
      transition: all 0s ease-in-out; 
    }
  }
}