@media screen and (max-width: 1542px)
{
  .dashboard
  {padding-top: 96px;} 
  
  .searchbar
  {
    position: absolute;
    left: 72px;
    top: 22px;
    
    width: calc(100% - 96px);  
  }

  .searchbar--menu-shown
  {
    left: 24px;
    width: calc(100% - 49px);
  }

}

@media screen and (max-width: 1336px) 
{
  html
  {font-size: 14px;}

  .burguer-menu
  {
    position: absolute;
    z-index: 2;
  }  

  .dashboard
  {
    position: inherit;
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 820px) 
{
  .tasks
  {grid-template-columns: 1fr;}
}

@media screen and (max-width: 600px)
{
  .taskbar__title .color-picker
  {
    top: 120px;
  }
}

@media screen and (max-width: 420px) 
{
  .menu
  {
    width: 100%;
  }
}
