$bg-blue-dark: #0e1218;
$bg-blue-mid: #212833;
$bg-blue-light: #2d3b4e;

$hl-blue-dark:  #4b99cc;
$hl-blue-light: #55ade8;

$hl-purple-dark: #8f66da;
$hl-purple-light: #a77cf8;

$hl-red-dark: #d33333;
$hl-red-light: #ff4e4e;

$hl-green-dark: #22ca84;
$hl-green-light: #26ffa5;

$menu-width: 400px;
$menu-width-translate: -420px;

$border-rad-big: 5px;
$border-rad-small: 4px;

@mixin glow-content
{ filter: drop-shadow(0px 0px 1px #fff); }

@mixin gradient 
{ background: linear-gradient(270deg, rgba(255, 255, 255, 0) 5%, rgba(52, 122, 170, 0.50) 100%); }

@keyframes fade_in 
{
  from { opacity: 0; }
  to   { opacity: 1; }  
}

@keyframes fade_out 
{
  from { opacity: 1; }
  to   { opacity: 0; }  
}