@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import './variables';

* 
{
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  box-sizing: border-box; 
  transition: all 0.15s ease-in-out;
}

html, input, button 
{ font-family: 'Montserrat', 'Oxygen', 'Ubuntu', sans-serif; }

body 
{ overflow-x: hidden; background-color: $bg-blue-dark; }

a 
{ text-decoration: none; color: #fff; }

ul 
{ list-style: none; }

button
{ cursor: pointer; }

textarea 
{ resize: none; }

::-webkit-scrollbar   
{ width: 0px; }

@keyframes fade-in 
{
  from { opacity: 0; }
  to   { opacity: 1; }  
}

.highlight--blue
{ color: $hl-blue-light; }

.app
{
  position: relative;
  opacity: 1;

  height: 100dvh;
  width: 100dvw;
  
  animation: ease-in-out 1s forwards fade-in;
}

/***************************************************************/
.btn--close
{
  color: #fff;

  font-size: 2.3rem;
  cursor: pointer;
}

.btn--close:hover > svg
{ filter: drop-shadow(0px 0px 1px #fff); }

/***************************************************************/
/*** 4. mobile ***/

.controls-small 
{display: none;}
