@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.tasks__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 1400px;
  max-width: 100%;
}

.tasks {
  display: grid;
  grid-template-columns: minmax(0, 100%) minmax(0, auto);
  grid-template-rows: auto minmax(0, 100%);
  gap: 16px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 5px;
  background-color: #212833;
}
.tasks__header {
  font-size: 1.2rem;
  font-weight: 500;
}
.tasks__options {
  font-size: 1.5rem;
  text-align: right;
}
.tasks__list {
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 4px;
}
.tasks__list .task {
  display: grid;
  grid-template-columns: 13fr 1fr;
  position: relative;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #2d3b4e;
}
.tasks__list .task__text textarea {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: text;
}
.tasks__list .task .options {
  position: absolute;
  right: 0px;
  top: 8px;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.tasks__list .task .options--ellipsis {
  padding: 0;
  margin-top: -8px;
}
.tasks__list .task .options--ellipsis:hover, .tasks__list .task .options--ellipsis--shown {
  color: #2d3b4e;
  background-color: #fff;
}
.tasks__list .task .options--ellipsis > * {
  transition: all 0s ease-in-out;
}
.tasks__list .task .options--tags {
  transform: translateY(-34px);
  pointer-events: none;
  z-index: 4;
  opacity: 0;
  background-color: #25df91;
}
.tasks__list .task .options--tags:hover {
  background-color: #51e6a7;
}
.tasks__list .task .options--move {
  transform: translateY(-68px);
  pointer-events: none;
  z-index: 3;
  opacity: 0;
  background-color: #4b99cc;
}
.tasks__list .task .options--move:hover {
  background-color: #73b0d7;
}
.tasks__list .task .options--remove {
  transform: translateY(-96px);
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  background-color: #c53131;
}
.tasks__list .task .options--remove:hover {
  background-color: #d55454;
}
.tasks__list .task .options .option {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  font-size: 1.2rem;
}
.tasks__list .task .options .option--shown {
  transform: translateY(0px);
  opacity: 1;
  z-index: 5;
  pointer-events: initial;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.tasks__list .task .options .option__icon {
  display: grid;
  place-items: center;
  width: 42px;
  height: 42px;
}
.tasks__list .task .options__select {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  left: -120px;
  top: 1px;
  opacity: 0;
  padding: 8px;
  border: 2px solid #55ade8;
  border-radius: 5px;
  background-color: #212833;
  font-size: 1.1rem;
  pointer-events: none;
  cursor: default;
}
.tasks__list .task .options__select--shown {
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
}
.tasks__list .task .options__select > * {
  width: 96px;
  height: 40px;
}
.tasks__list .task .options__location {
  display: grid;
  place-items: center;
  border-radius: 4px;
  color: #000;
  background-color: rgb(255, 255, 255);
}
.tasks__list .task .options__location--selected, .tasks__list .task .options__location:hover {
  color: #fff;
  background-color: #0e1218;
}
.tasks__list .task .options__submit {
  left: 0px;
  margin-top: 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #4b99cc;
  font-size: inherit;
  cursor: pointer;
}
.tasks__list .task .options__submit:hover {
  background-color: #55ade8;
}
.tasks__add {
  grid-column: span 2;
}
.tasks__add textarea {
  padding: 12px;
  border-radius: 4px;
  color: inherit;
  background-color: #2d3b4e;
  font-family: inherit;
  font-size: inherit;
}
.tasks__add button {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: #c0c0c0;
  background-color: inherit;
  text-align: left;
  cursor: pointer;
}
.tasks__add button:hover {
  border: 2px solid #26ffa5;
  color: #26ffa5;
}
.tasks__add button .fa-plus {
  transition: all 0s ease-in-out;
}

@media screen and (max-width: 820px) {
  .tasks__container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=tasks.css.map */