@import '../../../../../css/_variables.scss';

.task
{
  display: grid;
  grid-template-columns: 13fr 1fr;
  
  position: relative;
  width: 100%;
  padding: 12px;
  border-radius: $border-rad-small;

  background-color: $bg-blue-light;

  cursor: text;

  &__position
  {
    position: absolute;
    left: 4px;
    top: 2px;

    color: #aaaaaa;

    font-size: 0.6rem;
  }

  &__text textarea
  {
    color: inherit;
    background-color: inherit;
  
    font-family: inherit;
    font-size: inherit;
  
    cursor: text;
  }
}