@import '../../../css/variables';

.editable__bg
{
  z-index: -100;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: $bg-overlay;
  
  transition-property: opacity, z-index;
  transition-duration: 0.15s, 0s; 
  transition-delay: 0s, 0.15s; 


  &--shown
  { 
    opacity: 1; 
    z-index: 99;
    @include transition-close;
  }
}

.editable
{
  z-index: -100;
  opacity: 0;

  position: absolute;
  height: fit-content;
  border-radius: $border-rad-small;

  color: #fff;
  background-color: $bg-blue-light;

  @include transition-open;

  &--shown
  { 
    opacity: 1; 
    z-index: 100;
    @include transition-close;
  }

  textarea
  {
    width: 100%;
    padding: 12px;
    margin-bottom: -4px;
    border-radius: $border-rad-small;

    color: inherit;
    background-color: inherit;
  
    font-family: inherit;
    font-size: inherit;
  }

  .options
  {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    position: absolute;
    top: 0px;
    right: -46px;

    cursor: default;
    user-select: none;

    .option
    {
      opacity: 1; 
      z-index: 5;

      position: relative;
      width: 42px;
      height: 42px;

      font-size: 1.2rem;

      cursor: pointer;
      pointer-events: all;
      user-select: none;

      &--tags
      { 
        border-radius: $border-rad-small;
        background-color: $hl-green-dark; 

        &:hover 
        { background-color: lighten($hl-green-dark, 10%); }
      }

      &--type
      {  
        border-radius: $border-rad-small; 
        background-color: $hl-blue-dark;
        
        &:hover 
        { background-color: lighten($hl-blue-dark, 10%); }
      }

      &--position
      { 
        background-color: $hl-purple-dark;
        
        &:hover 
        { background-color: lighten($hl-purple-dark, 10%); }

        &--up
        {
          border-top-left-radius: $border-rad-small;
          border-top-right-radius: $border-rad-small;
        }

        &--down
        {
          margin-top: -4px;
          border-bottom-left-radius: $border-rad-small;
          border-bottom-right-radius: $border-rad-small;
        }
      }

      &--remove
      { 
        border-radius: $border-rad-small;
        background-color: $hl-red-dark; 

        &:hover 
        { background-color: lighten($hl-red-dark, 10%); }
      }

      &__icon
      { 
        display: grid;
        place-items: center;
      
        width: 42px; 
        height: 42px;
      }
    }

    &__select
    {
      display: flex;
      flex-direction: column;
      gap: 4px;
      
      opacity: 0;

      position: absolute;
      top: -46px;
      left: -112px;
      
      padding: 8px;
      border: 2px solid $hl-blue-light;
      border-radius: $border-rad-big;

      background-color: $bg-blue-mid;

      pointer-events: none;
      cursor: default;

      &--shown
      {
        opacity: 1;
        pointer-events: initial;
        cursor: pointer;
      }

      & > *
      {
        width: 88px;
        height: 40px;
      }
    }

    &__location
    { 
      display: grid;
      place-items: center;

      border-radius: $border-rad-small;

      color: $bg-blue-dark;
      background-color: #fff;

      &--selected, &:hover
      {
        color: #fff;
        background-color: $hl-blue-dark;
      }
    }

    &__submit
    {
      left: 0px;
      border-radius: $border-rad-small;

      color: #fff;
      background-color: $hl-blue-dark;

      font-size: inherit;
      cursor: pointer;

      &:hover
      { background-color: $hl-blue-light; }
    }
  }
}